<section>

  <div class="container">
    <div class="card">
      <div class="flex items-center gap-3 mb-[20px] ">
        <img class="w-[30px] h-[30px] md:w-[40px] md:h-[40px]" src="../../../../../assets/images/Group 76017.png"
          loading="lazy" alt="img">
        <i class="fa-solid fa-arrow-right text-[#007BBD] text-[12px] md:text-[15px]"></i>
        <h3 class="text-[#007BBD] text-[12px] md:text-[32px] font-bold leading-[40px] ">
          Initial Medical Reception
        </h3>
      </div>
      <div>
        <p class="text-[#7B7C93] text-[16px] md:text-[18px] font-normal leading-[30px]">
          Not sure about your specialty?
        </p>
        <p class="text-[#7B7C93] text-[16px] md:text-[18px] font-normal leading-[30px]">
          Select your symptoms and one of our doctors will guide you.
        </p>
      </div>
      <div class="text-right">
        <button (click)="openModel()"
          class="bg-[#007BBD] p-[15px] md:py-[18px] md:px-[20px] rounded-[12px]  text-[#FFFFFF] text-[16px] md:text-[24px] font-bold leading-[24px]">
          Start Now <i class="fa-solid fa-circle-check text-white text-[16px]"></i>

        </button>
      </div>


    </div>
  </div>


</section>



<!-- Show popup -->
<!-- POPUP OVERLAY -->
<!-- POPUP OVERLAY -->
@if(showPopup){
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 px-2" (click)="closeModel()">

  <!-- STOP CLICK INSIDE MODAL -->
  <div (click)="$event.stopPropagation()" class="
        bg-white rounded-xl shadow-lg relative
        w-[95%]
        sm:w-[85%]
        md:w-[70%]
        lg:w-[50%]
        p-[24px] sm:p-[40px]
      ">
    <app-send-symptoms-section (close)="closeModel()"></app-send-symptoms-section>
  </div>

</div>
}
