<section class="flex flex-col gap-[20px] md:gap-[32px]">
  <div class="title text-center ">
    <h2 class="text-[#1F1F1F] text-[24px] md:text-[32px] font-bold leading-[150%]">
      For Doctors
    </h2>
  </div>
  <div class="forDocotrs h-[500px] ">
    <div class="container flex justify-start items-center h-full w-full ">
      <div class="flex flex-col gap-[20px] md:gap-[32px] py-[50px] w-full ">
        <h3 class="text-[#1F1F1F] text-[20px] md:text-[24px] font-bold leading-[36px]">
          Your Clinic, Anytime, Anywhere
        </h3>
        <p class="text-[#555555] text-[20px] lg:text-[24px] font-semibold leading-[30px]">
          Reach patients Nationwide <br>
          Be part of our rapidly expanding <br>
          network and manage your clinic with <span class="text-[#007BBD]">zero</span> <br>
          traditional overhead costs
        </p>

        <button class="w-full md:w-[40%] lg:w-[30%]  border border-(--primary-color)
             bg-(--primary-color) text-[#F7F9FE]
             px-[30px] py-[10px] rounded-full
             text-[16px] lg:text-[24px] font-bold">
          Start Your Digital Clinic
        </button>
      </div>
    </div>


  </div>
</section>
