<!-- <div class="w-full">
  <div class="flex items-center gap-3  ">
    <div class="image w-[122px] h-[80px] rounded-[10px] ">
      <img class="w-full h-full rounded-[10px] " src="../../../../../assets/images/doctor-9 1.png" loading="lazy"
        alt="img">
    </div>
    <div class="image w-[122px] h-[80px] rounded-[10px] ">
      <img class="w-full h-full rounded-[10px] " src="../../../../../assets/images/doctor-9 1.png" loading="lazy"
        alt="img">
    </div>
    <div class="image w-[122px] h-[80px] rounded-[10px] ">
      <img class="w-full h-full rounded-[10px] " src="../../../../../assets/images/doctor-9 1.png" loading="lazy"
        alt="img">
    </div>
    <div class="image w-[122px] h-[80px] rounded-[10px] ">
      <img class="w-full h-full rounded-[10px] " src="../../../../../assets/images/doctor-9 1.png" loading="lazy"
        alt="img">
    </div>
  </div>
</div> -->


<p-carousel
  [value]="images"
  [numVisible]="4"
  [numScroll]="1"
  [circular]="true"
  [showIndicators]="false"
  [showNavigators]="true"
  [responsiveOptions]="responsiveOptions"
>

<ng-template let-image pTemplate="item">
  <div class="px-1">
    <button
      type="button"
      class="image h-[80px] w-full rounded-[10px] overflow-hidden cursor-pointer p-0 border-0 bg-transparent focus:outline-none focus-visible:ring-2 focus-visible:ring-[#007BBD]"
      (click)="onCarouselImageClick(image.src)"
      [attr.aria-label]="'Send image: ' + (image.alt || 'attachment')"
    >
      <img
        [src]="image.src"
        [alt]="image.alt"
        class="w-full h-full object-cover rounded-[10px] pointer-events-none"
        loading="lazy"
      />
    </button>
  </div>
</ng-template>

</p-carousel>
