
<div class="flex justify-between my-[20px] ">
  <h3 class="text-[#1E1E1E] text-[24px] font-bold leading-[100%]">
    Schedule
  </h3>
  <!-- <div class="w-fit text-[#6C757D] ">
           October 2025 <i class="fa-solid fa-chevron-down text-[16px] "></i>
         </div> -->

  <!-- <div class="relative">
           <p-calendar [(ngModel)]="monthValue" view="month" dateFormat="MM yy" selectionMode="single" [showIcon]="false"
             (onMonthChange)="onMonthSelect($event)">
           </p-calendar>

           <i
             class="fa-solid fa-chevron-down text-[16px] absolute right-[15px] top-1/2 -translate-y-1/2 pointer-events-none"></i>
         </div> -->

  <!-- <div class="flex-auto">
        <label for="buttondisplay" class="font-bold block mb-2"> Button </label>
        <p-datepicker [(ngModel)]="date1" [showIcon]="true" inputId="buttondisplay" [showOnFocus]="false" />
      </div> -->


</div>

<div class=" mb-[30px] flex gap-[30px] flex-nowrap overflow-auto no-scrollbar py-[15px] ">

  <div
    class="bg-[#D9D9D940]  cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] p-[10px] ">
    <h3 class="text-[#80808073] text-[16px] font-bold leading-[100%] ">
      Monday
    </h3>
    <p class="text-[#80808073] text-[32px] font-bold leading-[100%] mt-[30px] ">
      27
    </p>
  </div>
  <div
    class="bg-[#007BBD] text-white cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] p-[10px] ">
    <h3 class=" text-[16px] font-bold leading-[100%] ">
      Monday
    </h3>
    <p class=" text-[32px] font-bold leading-[100%] mt-[30px] ">
      27
    </p>
  </div>
  <div
    class="bg-[#FFFFFF]  cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] p-[10px] ">
    <h3 class="text-[#007BBD] text-[16px] font-bold leading-[100%] ">
      Monday
    </h3>
    <p class="text-[#1F1F1F] text-[32px] font-bold leading-[100%] mt-[30px] ">
      27
    </p>
  </div>
  <div
    class="bg-[#FFFFFF]  cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] p-[10px] ">
    <h3 class="text-[#007BBD] text-[16px] font-bold leading-[100%] ">
      Monday
    </h3>
    <p class="text-[#1F1F1F] text-[32px] font-bold leading-[100%] mt-[30px] ">
      27
    </p>
  </div>
  <div
    class="bg-[#FFFFFF]  cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] p-[10px] ">
    <h3 class="text-[#007BBD] text-[16px] font-bold leading-[100%] ">
      Monday
    </h3>
    <p class="text-[#1F1F1F] text-[32px] font-bold leading-[100%] mt-[30px] ">
      27
    </p>
  </div>
  <div
    class="bg-[#FFFFFF]  cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] p-[10px] ">
    <h3 class="text-[#007BBD] text-[16px] font-bold leading-[100%] ">
      Monday
    </h3>
    <p class="text-[#1F1F1F] text-[32px] font-bold leading-[100%] mt-[30px] ">
      27
    </p>
  </div>
  <div
    class="bg-[#FFFFFF]  cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] p-[10px] ">
    <h3 class="text-[#007BBD] text-[16px] font-bold leading-[100%] ">
      Monday
    </h3>
    <p class="text-[#1F1F1F] text-[32px] font-bold leading-[100%] mt-[30px] ">
      27
    </p>
  </div>
  <div
    class="bg-[#FFFFFF]  cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] p-[10px] ">
    <h3 class="text-[#007BBD] text-[16px] font-bold leading-[100%] ">
      Monday
    </h3>
    <p class="text-[#1F1F1F] text-[32px] font-bold leading-[100%] mt-[30px] ">
      27
    </p>
  </div>
  <div
    class="bg-[#FFFFFF]  cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] p-[10px] ">
    <h3 class="text-[#007BBD] text-[16px] font-bold leading-[100%] ">
      Monday
    </h3>
    <p class="text-[#1F1F1F] text-[32px] font-bold leading-[100%] mt-[30px] ">
      27
    </p>
  </div>
  <div
    class="bg-[#FFFFFF]  cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] p-[10px] ">
    <h3 class="text-[#007BBD] text-[16px] font-bold leading-[100%] ">
      Monday
    </h3>
    <p class="text-[#1F1F1F] text-[32px] font-bold leading-[100%] mt-[30px] ">
      27
    </p>
  </div>


</div>

<div class="w-[70%] mx-auto text-left">
  <h3 class="text-[#1E1E1E] text-[24px] font-bold leading-[100%] ">
    Time
  </h3>

  <div class=" grid grid-cols-1 md:grid-cols-2 gap-[20px]  items-center mt-[20px] ">
    <div
      class="bg-[#ABD3E980] cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] py-[20px] px-[35px] ">
      <h3 class="text-[#007BBD] text-[24px] font-extrabold leading-[100%] ">
        10:00 - 11:00 AM
      </h3>
    </div>
    <div
      class="bg-[#ABD3E980] cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] py-[20px] px-[35px] ">
      <h3 class="text-[#007BBD] text-[24px] font-extrabold leading-[100%] ">
        10:00 - 11:00 AM
      </h3>
    </div>
    <div
      class="bg-[#F5F5F5] cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] py-[20px] px-[35px] ">
      <h3 class="text-[#55555580] text-[24px] font-extrabold leading-[100%] ">
        10:00 - 11:00 AM
      </h3>
    </div>
    <div
      class="bg-[#007BBD] cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] py-[20px] px-[35px] ">
      <h3 class="text-[#ffffff] text-[24px] font-extrabold leading-[100%] ">
        10:00 - 11:00 AM
      </h3>
    </div>
    <div
      class="bg-[#ABD3E980] cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] py-[20px] px-[35px] ">
      <h3 class="text-[#007BBD] text-[24px] font-extrabold leading-[100%] ">
        10:00 - 11:00 AM
      </h3>
    </div>
    <div
      class="bg-[#ABD3E980] cursor-pointer translation duration-300 border border-[#D9D9D933] shadow-[0px_2px_8px_0px_#0000001A] rounded-[20px] py-[20px] px-[35px] ">
      <h3 class="text-[#007BBD] text-[24px] font-extrabold leading-[100%] ">
        10:00 - 11:00 AM
      </h3>
    </div>
  </div>


</div>

<button
  class="btn-header w-[50%] mt-[30px] bg-[#007BBD] text-[#F7F9FE] px-[25px] py-[20px] rounded-full text-[24px] font-bold leading-[100%]">
  Booking
</button>
