<div class="p-0 h-screen">

  <div class="flex justify-between items-center h-full">

    <!-- left Side -->
    <div class="w-[50%] h-full hidden md:block">
      <!-- <app-left-side></app-left-side> -->
      <app-auth-left-side></app-auth-left-side>


    </div>

    <!-- Right Side -->
    <div class="w-full md:w-[50%] p-[20px] sm:p-[30px] h-screen flex flex-col">

      <!-- Header Logo  -->
      <div class="w-full h-fit flex items-center justify-between">
        <div class="w-[25px]"></div>
        <app-auth-logo></app-auth-logo>
        <i class="fa-solid fa-xmark text-[#899CC9] text-[25px] cursor-pointer" (click)="clearLocalStorage()">
        </i>
      </div>


      <!-- Content Centered Vertically -->
      <div class="flex-1 flex flex-col justify-center w-[95%] md:w-[70%] mx-auto">

        <div
          class="w-full border border-(--border-color) md:border-none rounded-[20px] p-[20px] sm:px-[30px] sm:py-[60px] md:p-0">

          <h2 class="text-(--text-color) text-[32px] font-bold leading-[100%]">
            Welcome Back
          </h2>

          <p class="text-[#555555] text-[14px] font-normal leading-[100%] mt-[10px]">
            Sign in to your account
          </p>

          <form [formGroup]="mobileForm" action="" class="mt-[30px]">

            <!-- Phone -->
            <div class="mb-[25px]">
              <label class="block text-(--text-color) text-[12px] font-semibold leading-[100%] mb-[10px]">
                Phone
              </label>
              <div class="border border-(--primary-color) rounded-full p-[16px] flex items-center gap-[10px]">
                <i class="fa-solid fa-phone text-(--primary-color) text-[20px]"></i>
                <input type="text" placeholder="+20-102245596" formControlName="mobile"
                  class="text-(--text-color) text-[14px] font-normal leading-[100%] bg-transparent w-full">


              </div>
              @if (mobileForm.get('mobile')?.touched && mobileForm.get('mobile')?.errors) {
              <p class="text-red-500 text-[12px] mt-2">
                @if (mobileForm.get('mobile')?.errors?.['required']) {
                Phone is required
                }
                @if (mobileForm.get('mobile')?.errors?.['invalidEgyptPhone']) {
                Phone must be 10 digits befor the country code And
                  Phone must be in the format +20-1012344792
                }
              </p>
              }
            </div>
            <!--
            <div class="flex justify-between items-center">
              <div class="flex items-center">
                <input type="checkbox" class="text-(--primary-color) w-[16px] h-[16px]">
                <label class="text-(--text-color) text-[14px] font-normal leading-[100%] mx-[10px]">Remember me</label>
              </div>
              <a class="text-(--primary-color) text-[14px] font-medium leading-[100%] cursor-pointer">
                Forgot Password?
              </a>
            </div> -->

            <!-- Submit -->
            <div class="w-full mt-[30px]">
              <button type="button" (click)="submit()" [disabled]="isLoading" class="w-full bg-gradient-to-r from-(--primary-color) to-[#006ba5] text-white hover:from-[#006ba5] hover:to-[#005a8c] px-[20px] h-[54px] rounded-full text-[16px] font-bold leading-none flex items-center justify-center gap-2 shadow-lg shadow-(--primary-color)/15 hover:shadow-xl hover:shadow-(--primary-color)/25 hover:-translate-y-0.5 active:translate-y-0 transition-all duration-300 ease-in-out cursor-pointer">
                @if (isLoading) {
                  <i class="fa-solid fa-spinner fa-spin mr-2"></i>
                }
                <span>Sign In</span>
              </button>
            </div>

          </form>

        </div>

      </div>

    </div>

  </div>

</div>

