<div>

  <div class="container">
    <div class="card  ">
      <div class="flex flex-col md:flex-row justify-between items-center  ">
        <div>
          <div class="flex items-center gap-3 mb-[20px] ">
            <img class="" src="../../../../../assets/images/Group 76017.png" loading="lazy" alt="img">
            <i class="fa-solid fa-arrow-right text-[#007BBD] text-[15px]"></i>
            <h3 class="text-[#007BBD] text-[18px] md:text-[20px] lg:text-[32px] font-bold leading-[40px] ">
              Today's Appointments
            </h3>
          </div>
          <div class="px-[0px] md:px-[25px] lg:px-[35px] ">
            <div class="flex items-center gap-5  ">
              <div class="bg-[#3997C9] w-[13px] h-[13px] rounded-full "></div>
              <p class="text-[#555555] text-[14px] md:text-[18px] font-semibold leading-[30px] ">
                Start your day
              </p>
            </div>
            <div class="flex items-center gap-5  ">
              <div class="bg-[#3997C9] w-[13px] h-[13px] rounded-full "></div>
              <p class="text-[#555555] text-[14px] md:text-[18px] font-semibold leading-[30px] ">
                Number of cases today: <span class="text-[#007BBD] ">
                  {{ data || 'No' }} cases
                </span>
              </p>
            </div>
          </div>
        </div>



      </div>
      <div class="text-center md:text-right mt-[20px] lg:mt-3 cursor-pointer">
        <a routerLink="/doctor/todaysAppointments" class="inline-block bg-[#007BBD] w-full sm:w-fit p-[14px] md:py-[18px] px-[30px] md:px-[20px] rounded-[12px]
           text-[#FFFFFF] text-[20px] md:text-[24px] font-bold leading-[24px] text-center">
          Go
        </a>
      </div>



    </div>
  </div>


</div>
