<section>

  <div class="container  ">
    <div class="flex flex-col text-center gap-[20px] md:gap-[32px]  mb-[40px]">
      <h3 class="text-[#1F1F1F] text-[24px] md:text-[28px] lg:text-[36px] font-bold leading-[46px] ">
        About Us
      </h3>
      <p class="text-[#555555] text-[18px] md:text-[20px] lg:text-[24px] font-normal leading-[30px] ">
        Welcome to <img class="inline-block w-[120px] mx-[10px] " src="/assets/images/Group 76373.svg" alt=""> , your
        reliable digital gateway to professional medical consultations. We are a leading healthcare
        platform dedicated to providing high-quality medical services to patients across Egypt. We believe that quality
        healthcare is a fundamental right for everyone, regardless of where they live or their circumstances. Whether
        through video calls, voice calls, or text chats, we bring the doctor’s office to you.
      </p>
    </div>
    <div class="flex flex-col text-center gap-[20px] md:gap-[32px]  mb-[40px]">
      <h3 class="text-[#1F1F1F] text-[24px] md:text-[28px] lg:text-[36px] font-bold leading-[46px] ">
        How Our Service Works
      </h3>
      <p class="text-[#555555] text-[18px] md:text-[20px] lg:text-[24px] font-normal leading-[30px] ">
        Our telemedicine services offer you direct access to licensed doctors— all of whom are registered with the
        Egyptian Ministry of Health and the Egyptian Medical Syndicate.
      </p>
    </div>
    <div class="flex flex-col gap-[20px] md:gap-[32px]  mb-[40px]">
      <h3 class="text-center text-[#1F1F1F] text-[24px] md:text-[28px] lg:text-[36px] font-bold leading-[46px] ">
        Telemedicine is designed to be:
      </h3>
      <ul style="list-style-type: disc;"
        class="list-disc list-outside text-[#555555] text-[18px] md:text-[20px] lg:text-[24px] font-normal leading-[30px] ">
        <li>
          <span class="font-semibold">A Direct Solution</span>: For many health concerns, our doctors can provide a
          diagnosis and treatment plan right away.
        </li>
        <li>
          <span class="font-semibold">A Support System</span> : For cases that require a physical examination, our
          online consultations serve as a perfect first step or a follow-up to traditional clinic visits.
        </li>
      </ul>
    </div>

    <div class="flex flex-col text-center gap-[20px] md:gap-[32px]  mb-[40px]">
      <h3 class="text-[#1F1F1F] text-[24px] md:text-[28px] lg:text-[36px] font-bold leading-[46px] ">
        Our Vision
      </h3>
      <p class="text-[#555555] text-[18px] md:text-[20px] lg:text-[24px] font-normal leading-[30px] ">
        To become the leading telemedicine platform in the region, empowering patients to take control of their health
        and enabling physicians to expand their practice beyond traditional boundaries, ultimately transforming how
        healthcare is delivered.
      </p>
    </div>

    <div class="flex flex-col text-center gap-[20px] md:gap-[32px]  mb-[40px]">
      <h3 class="text-[#1F1F1F] text-[24px] md:text-[28px] lg:text-[36px] font-bold leading-[46px] ">
        Our Mission
      </h3>
      <p class="text-[#555555] text-[18px] md:text-[20px] lg:text-[24px] font-normal leading-[30px] ">
        To provide smart technology that delivers healthcare exactly where you need it and when you need it. We are
        committed to a seamless experience that respects your privacy and follows the highest medical standards.
      </p>
    </div>

    <div class="flex flex-col gap-[20px] md:gap-[32px]  mb-[40px]">
      <h3 class="text-center text-[#1F1F1F] text-[24px] md:text-[28px] lg:text-[36px] font-bold leading-[46px] ">
        Our Values
      </h3>
      <ul style="list-style-type: disc;"
        class="list-disc list-outside text-[#555555] text-[18px] md:text-[20px] lg:text-[24px] font-normal leading-[30px] ">
        <li>
          <span class="font-semibold">Easy Access</span>: Book your consultation with just a single click.
        </li>
        <li>
          <span class="font-semibold">Equality</span> : Health is a right, not a privilege. We break down the barriers
          that stand between people and the care they deserve.
        </li>
        <li>
          <span class="font-semibold">Quality Care</span> : Every consultation must provide real value and help the
          patient recover.
        </li>
        <li>
          <span class="font-semibold">Trust</span> : We guarantee that every expert on our platform is fully licensed
          and verified.
        </li>
        <li>
          <span class="font-semibold">Innovation</span> : We use the latest digital tools to ensure your experience is
          smooth and secure.
        </li>
        <li>
          <span class="font-semibold">Privacy</span> : We protect your personal data with the highest standards of
          security and confidentiality.
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-[20px] md:gap-[32px]  mb-[40px]">
      <h3 class="text-center text-[#1F1F1F] text-[24px] md:text-[28px] lg:text-[36px] font-bold leading-[46px] ">
        What Makes Us Different?
      </h3>
      <p class="text-[#555555] text-[18px] md:text-[20px] lg:text-[24px] font-normal leading-[30px] mt-[20px] ">
        We understand the real-life challenges you face:
      </p>
      <ul style="list-style-type: disc;"
        class="list-disc list-outside text-[#555555] text-[18px] md:text-[20px] lg:text-[24px] font-normal leading-[30px] ">
        <li>
          <span class="font-semibold">The Distance Challenge</span>The Distance Challenge: Specialist too far away? We
          bring them to your screen.
        </li>
        <li>
          <span class="font-semibold">The Time Challenge</span> : No time to wait in line? The clinic is now in your
          hands.
        </li>
        <li>
          <span class="font-semibold">The Cost Challenge</span> : Worried about expenses? We offer options that fit
          every budget.
        </li>
        <li>
          <span class="font-semibold">The Privacy Challenge</span> : Feeling shy about your condition? Your consultation
          is 100% private.
        </li>
        <li>
          <span class="font-semibold">The Choice Challenge</span> : Not sure which doctor you need? Our smart system
          guides you to the right specialty.
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-[20px] md:gap-[32px]  mb-[40px]">
      <h3 class="text-center text-[#1F1F1F] text-[24px] md:text-[28px] lg:text-[36px] font-bold leading-[46px] ">
        Who Do We Serve?
      </h3>
      <p class="text-[#555555] text-[18px] md:text-[20px] lg:text-[24px] font-normal leading-[30px] mt-[20px] ">
        We understand the real-life challenges you face:
      </p>
      <ul style="list-style-type: disc;"
        class="list-disc list-outside text-[#555555] text-[18px] md:text-[20px] lg:text-[24px] font-normal leading-[30px] ">
        <li>
          <span class="font-semibold">Seniors</span>: Who may find it difficult to travel to a clinic.
        </li>
        <li>
          <span class="font-semibold">Moms</span> : Who need quick reassurance and expert advice for their children.
        </li>
        <li>
          <span class="font-semibold">Busy Professionals</span> : Who can’t find time for a doctor’s visit during
          working hours.
        </li>
        <li>
          <span class="font-semibold">Remote Residents</span> : Who live far away from specialized medical centers.
        </li>
        <li>
          <span class="font-semibold">Privacy Seekers</span> : Who prefer a confidential environment for sensitive
          health issues.
        </li>
        <li>
          <span class="font-semibold">Smart Savers</span>: Who want to save money on travel and time off work.
        </li>
        <li>
          <span class="font-semibold"> Chronic Patients</span>: Who need regular and easy follow-ups with their doctors.
        </li>
      </ul>
    </div>

  </div>

</section>
