<div>

  <div class="title w-full md:w-[90%] mx-auto  text-center">
    <h2
      class="text-[#1F1F1F] text-[22px] sm:text-[28px] md:text-[30px] lg:text-[40px] py-10 font-bold leading-[150%] tracking-[-0.02em] relative">
      Payment Records
    </h2>
  </div>

  <div class=" mt-[50px] ">
    <div class="  ">
      <div class="px-[15px] md:px-[30px]">
        <!-- Tab Content -->

        <div class="animate-fadeIn">

          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3  gap-[40px]">
            <div class="bg-[#EEF6FB] rounded-[30px] p-[10px] md:p-[20px] shadow-[0px_2px_8px_0px_#007BBD26]  space-y-4 ">
              <h3 class="text-[#1F1F1F] text-center text-[20px] font-semibold leading-[18px] ">
                Invoice
              </h3>
              <div class="w-full mx-auto space-y-4 ">
                <p class="text-[#555555] text-[18px] font-medium leading-[18px]  ">
                  <span class="text-[#007BBD]">Patient Name</span>: Hossam Badr
                </p>
                <p class="text-[#555555] text-[18px] font-medium leading-[18px]  ">
                  <span class="text-[#007BBD]"> Specialty </span>: Cardiology
                </p>
                <p class="text-[#555555] text-[18px] font-medium leading-[18px]  ">
                  <span class="text-[#007BBD]"> Service Type </span>: Consultation
                </p>
                <p class="text-[#555555] text-[18px] font-medium leading-[18px]  ">
                  <span class="text-[#007BBD]"> Date </span>: 12/3/2025
                </p>
                <p class="text-[#555555] text-[18px] font-medium leading-[18px]  ">
                  <span class="text-[#007BBD]"> Amount Paid </span>: 300
                </p>
                <p class="text-[#555555] text-[18px] font-medium leading-[18px]  ">
                  <span class="text-[#007BBD]"> Invoice Number </span>: 65454656
                </p>
              </div>
            </div>
          </div>

        </div>




      </div>

    </div>
  </div>



</div>
